body {
    margin: 0;
    min-height: 100vh;

    background-image: url("background.jpg");
    background-size: cover;      /* 화면 꽉 채우기 */
    background-position: center; /* 가운데 기준 */
    background-repeat: no-repeat;
}

.content-row {
    display: flex;
    align-items: center;
    gap: 20px;

    max-width: 1200px;
    margin: 130px auto 20px;

    padding: 10px 20px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);

}

.right-menu {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.right-menu div{
    border-radius: 40px;
    text-align: center;
    background-color: rgba(220, 200, 200, 0.5);
    padding: 5px 12px;

    cursor: pointer;
    transition: 0.3s;
}

.right-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

.right-menu div:hover {
    background-color: rgba(220, 200, 200, 0.7);
}

.container {
    max-width: 1200px;
    margin: 0 auto 40px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}


.top-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.login-box {
    width: 190px;
    min-height: 120px;
    padding: 10px 10px 15px;

    background-color: rgba(220, 200, 200, 0.6);
    backdrop-filter: blur(6px);

    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.login-box form {
    display: flex;
    align-items: stretch; /*버튼 높이 =  입력란 전체 높이*/
    gap: 0;
    flex-direction: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 5px; /*ID ↔ PW 간격 */
    align-items: center;
    width: 100%;
}

.inputs input {
    width: 60%;
    padding: 2px 4px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 9px;
}

.login-button {
    padding: 0 8px;
    border-radius: 15px;
    border: none;
    background-color: #DCC8C8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2px; /* PW ↔ 버튼 간격 */
}

.login-button:hover {
    background-color: #c2a5a5;
}

.announcement {
    width: 320px;
    height: 120px;

    background-color:#DCC8C8;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.announcement img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}