body {
    margin: 0;
    min-height: 100vh;

    background-image: url("background.jpg");
    background-size: cover;      /* 화면 꽉 채우기 */
    background-position: center; /* 가운데 기준 */
    background-repeat: no-repeat;
}

.content-row {
    display: flex;
    align-items: center;
    gap: 20px;

    max-width: 1200px;
    margin: 130px auto 20px;

    padding: 10px 20px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);

}

.right-menu{
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.right-menu div{
    border-radius: 40px;
    text-align: center;
    background-color: rgba(220, 200, 200, 0.5);
    padding: 5px 12px;
}

.right-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto 40px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.login-box form{
    display: flex;
    align-items: stretch; /*버튼 높이 =  입력란 전체 높이*/
    gap: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputs input {
    padding: 5px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4)
    font-size: 12px;
}

.login-button {
    padding: 0 15px;
    border-radius: 6px;
    border: none;
    background-color: #DCC8C8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}